{% extends "base.html" %}

{% load i18n tz %}

{% block content %}
{% for article in articles %}
<article class="article">
    <header class="article-title">
        <h2>{{ article.title }}</h2>
        <div class="article-meta">
            <span class="post-time">
                {% translate 'post at' %}
                <time itemprop="pubdate" datetime="{{ article.posted_at }}">
                    {{ article.posted_at|localtime }}
                </time>
            </span>
            <span class="edit-time">
                {% translate 'edit at' %}
                <time datetime="{{ article.edited_at }}">
                    {{ article.edited_at|localtime }}
                </time>
            </span>
        </div>
    </header>
    <main class="article-content article-content-brief">
        <p>{{ article.content_html|safe }}</p>
    </main>
    <div class="read-more">
        <a href="{% url 'article:detail' pk=article.pk %}">{% translate 'Read more' %}</a>
    </div>
</article>
{% endfor %}
{% endblock %}
