{% load i18n %}
<div class="pages">
    <span class="page first-page">
        <a href="{{ list_url }}">
            {% translate 'First' %}
        </a>
    </span>
    {% if page_obj.has_previous %}
    <span class="page previous-page">
        <a href="{{ list_url }}?page={{ page_obj.previous_page_number }}">
            {{ page_obj.previous_page_number }}
        </a>
    </span>
    {% endif %}
    <span class="page" class="current-page">{{ page_obj.number }}</span>
    {% if page_obj.has_next %}
    <span class="page next-page">
        <a href="{{ list_url }}?page={{ page_obj.next_page_number }}">
            {{ page_obj.next_page_number }}
        </a>
    </span>
    {% endif %}
    <span class="page last-page">
        <a href="{{ list_url }}?page={{ paginator.num_pages }}">
            {% translate 'Last' %}
        </a>
    </span>
</div>