{% extends "base.html" %}
{% load i18n tz %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<article class="article">
    <header class="article-title">
        <h2>{{ article.title }}</h2>
        <div class="article-meta">
            <span class="post-time">
                <span class="article-meta-key">{% translate 'post at' %}</span>
                <time class="article-meta-value" itemprop="pubdate" datetime="{{ article.posted_at.isoformat }}">
                    {{ article.posted_at|localtime|date:'SHORT_DATE_FORMAT' }}
                </time>
            </span>
            <span class="edit-time">
                <span class="article-meta-key">{% translate 'edit at' %}</span>
                <time class="article-meta-value" datetime="{{ article.edited_at.isoformat }}">
                    {{ article.edited_at|localtime|date:'SHORT_DATE_FORMAT' }}
                </time>
            </span>
            <span class="article-tags">
                <span class="article-meta-key">{% translate 'tags' %}</span>
                {% for tag in article.tags.all %}
                    <a class="article-meta-value" href="{% url 'article:tag-detail' pk=tag.pk %}">{{ tag.name }}</a>
                {% endfor %}
            </span>
        </div>
    </header>
    <main class="article-content">
        {{ article.content_html|safe }}
    </main>
</article>
{% endblock %}
