{% extends "base.html" %}
{% load i18n tz %}

{% block title %}{{ year.year }}{% translate 'Archives' %}{% endblock %}

{% block content %}
<h2 class="sub-page-title">{{ year.year }}{% translate 'Articles' %}</h2>
<ul class="article-list">
    {% for article in articles %}
        <li class="article-item">
            <a href="{% url 'article:detail' pk=article.id %}">{{ article.title }}</a>
            <time itemprop="pubdate" datetime="{{ article.posted_at.isoformat }}">
                {{ article.posted_at|localtime }}
            </time>
        </li>
    {% endfor %}
</ul>
{% url 'article:year-archive' year=year.year as list_url %}
{% include 'page_nav.html' %}
{% endblock %}