{% extends "base.html" %}

{% load i18n tz %}

{% block title %}{% translate 'Articles' %}{% endblock %}

{% block content %}
    {% for article in articles %}
        <ul class="article-list">
            <li class="article-item">
                <a href="{% url 'article:detail' pk=article.id %}">{{ article.title }}</a>
                <time itemprop="pubdate" datetime="{{ article.posted_at }}">
                    {{ article.posted_at|localtime }}
                </time>
            </li>
        </ul>
    {% endfor %}
    {% url 'article:list' as list_url %}
    {% include 'page_nav.html' %}

{% endblock %}
