* {
    margin: 0;
    padding: 0;
}
/* page width */
.header,
.main,
.footer{
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}
/* header style */
.header-container{
    background-color: lightgreen;
}
.header{
    padding-bottom: 2.5em;
}
.header-toolbar form{
    float: right;
    margin-left: 2em;
}
.site-name{
    font-size: 2.5em;
    padding: 0.5em 0.4em;
}
.main-nav ul{
    list-style-type: none;
    float: left;
}
.main-nav li{
    padding: 0.5em 1em;
    display: inline;
}
.nav-cur{
    background-color: white;
}
.main-nav a{
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    color: #666;
}
.main-nav a:hover,
.main-nav a:active{
    color: blue;
}
.main-nav form{
    float: right;
}
/* main content style */
.main{
    min-height: 600px;
    margin-top: 1em;
}
/* footer style */
.footer-container{
    background-color: lavender;
}
.footer{
    text-align: center;
}
.sub-page-title{
    text-align: center;
    padding: 1em;
}
.archive-index,
.tag-list{
    margin: 1em auto;
    list-style-type: none;
}
.archive-item,
.tag-item{
    padding: 0.5em;
    margin: 0.5em;
    display: inline;
}
/* article style */
.article{
    padding: 1em;
    margin-bottom: 2em;
}
.article-title{
    margin: 0 auto;
    text-align: center;
}
.article-meta span{
    padding: 0.5em;
    font-size: 0.9em;
}
.article-meta-key{
    color: blue;
}
.article-meta-value{
    color: green;
}
.read-more{
    text-align: center;
    font-style: italic;
}
.article-list{
    list-style: none;
    min-height: 600px;
}
.article-item{
    padding: 1em;
}
.article-item time{
    float: right;
}
.page a{
    padding: 0.5em;
    border-color: black;
    border-width: 3px;
}
.archive-header,
.search-header,
.tag-header{
    margin: 1em;
}
.article-content-brief{
    height: 5.5em;
    margin: 1em;
    overflow: hidden;
}