*{
    margin: 0;
    padding: 0;
}

body{
    width: 900px;
    background-color: white;
    margin: 0 auto;
}
.header{
    height: 90px;
    background-color: aliceblue;
}
.header-toolbar{
    height: 10px;
}
.header-toolbar form{
    float: right;
    margin-left: 10px;
}
.site-name{
    height: 50px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 30px;
}
.main-nav{
    height: 30px;
    background-color: lightblue;
}
.main-nav ul{
    margin-left: 40px;
    list-style-type: none;
    float: left;
}
.main-nav li{
    margin-right: 20px;
    display: inline;
}
.main-nav a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.main-nav a:hover, .main-nav a:active{
    background-color: cadetblue;
}
.main-nav form{
    float: right;
}
.main{
    min-height: 800px;
}
.footer{
    height: 50px;
    background-color: lavender;
}
.footer-wrapper{
    margin: 0 auto;
    text-align: center;
}
.archive-index{
    width: 600px;
    margin: 0 auto;
}
.archive-item{
    margin: 10px;
}
.article-title{
    margin: 20px auto;
}
.article-meta div{
    margin: 0 5px;
}
.article-list{
    list-style: none;
}
.article-item{
    margin: 10px;
}
.article-item time{
    float: right;
}

.archive-header,
.search-header,
.tag-header{
    margin: 20px;
}

.article-content-brief{
    height: 100px;
    margin: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}